<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>armen</title>
</head>
<body style="color:black;">
<pre><code>
 ___ _______ _  ___ ___
/ _ `/ __/  ' \/ -_) _ \
\_,_/_/ /_/_/_/\__/_//_/
</code></pre>
<ul>
    <li>version={{version}}</li>
    <li>node={{node}}</li>
    <li>runner={{runner}}</li>
    <li>timestamp={{timestamp}}</li>
</ul>
<table border="0" cellpadding="20" cellspacing="0" width="100%" style="background-color:{{bg_color}};">
<tr>
    <td style="padding:20px;">
        <h3>{{title}}</h3>
        {{&content}}
    </td>
</tr>
</table>
<p style="text-align:center;"><small>Powered By Archivage Num&eacute;rique</small></p>
</body>
</html>
